.jumbotron{
	background-color: yellow;
	color: white;
	margin-top: 50px;
	background-image: url("/images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

footer>div.row{
	width: 100%;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
